body > * {
    box-sizing: border-box;
    }

body{
    background-color: black;
    color: lightgray;
    font-family: 'Open Sans';
}

.bar {
    background-image: url('imgs/supsy.png');
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
  }
  
  a:hover {
    opacity: .70;
  }

.nav{
    position: absolute;   
    max-width: 100%;
    top:0;
    padding-top: 5px;
}

.nav ul{
    display:flex;
    justify-content: center;
    list-style: none;
}

.nav li{
    padding:30px;
    font-size: x-large;
    text-decoration: underline;
}


h2{
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    padding: 20px ;
    margin: 50px;
}

#title{
    font-size: x-large;
    font-weight: lighter;
    font-style: italic;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    padding:5em;
    width: 70%;
      
}

.messageField {
    display: flex;
    flex-direction: column;
    padding:5rem;
    width: 70%;  
}

.button {
    display:flex;
    
}

